RewriteEngine on
RewriteRule ^acceuil$ index.php?page=acceuil
RewriteRule ^about$ index.php?page=about
RewriteRule ^services$ index.php?page=services
RewriteRule ^services/fer$ index.php?page=services&sub_page=fer
RewriteRule ^services/ciment$ index.php?page=services&sub_page=ciment
RewriteRule ^services/item/([0-9]+)$ index.php?page=services&item=$1
RewriteRule ^contact$ index.php?page=contact
RewriteRule ^user/home$ index.php?page=userhome
RewriteRule ^user/profile$ index.php?page=userhome&sub_page=profile
RewriteRule ^user/factures$ index.php?page=userhome&sub_page=userfactures
RewriteRule ^user/archives$ index.php?page=userhome&sub_page=userarchives
RewriteRule ^user/souhaits$ index.php?page=userhome&sub_page=usersouhaits
RewriteRule ^connexion$ index.php?page=userlogin
RewriteRule ^connexion/empty_username$ index.php?page=userlogin&error=empty_username
RewriteRule ^connexion/empty_email$ index.php?page=userlogin&error=empty_email
RewriteRule ^connexion/empty_password$ index.php?page=userlogin&error=empty_password
RewriteRule ^connexion/bad_mail_syntax$ index.php?page=userlogin&error=bad_mail_syntax
RewriteRule ^connexion/bad_syntax_type$ index.php?page=userlogin&error=bad_syntax_type
RewriteRule ^connexion/bad_username_syntax$ index.php?page=userlogin&error=bad_username_syntax
RewriteRule ^connexion/username_tooLong$ index.php?page=userlogin&error=username_tooLong
RewriteRule ^connexion/username_tooShort$ index.php?page=userlogin&error=username_tooShort
RewriteRule ^connexion/not_match_username$ index.php?page=userlogin&error=not_match_username
RewriteRule ^connexion/not_match_password$ index.php?page=userlogin&error=not_match_password
RewriteRule ^connexion/not_match_email$ index.php?page=userlogin&error=not_match_email
RewriteRule ^connexion/no_user_session$ index.php?page=userlogin&error=no_user_session
RewriteRule ^inscription$ index.php?page=usersignup
RewriteRule ^inscription/empty$ index.php?page=usersignup&error=empty_fields
RewriteRule ^inscription/nofirstname$ index.php?page=usersignup&error=empty_firstname
RewriteRule ^inscription/nolastname$ index.php?page=usersignup&error=empty_lastname
RewriteRule ^inscription/nousername$ index.php?page=usersignup&error=empty_username
RewriteRule ^inscription/noemail$ index.php?page=usersignup&error=empty_email
RewriteRule ^inscription/nopwd$ index.php?page=usersignup&error=empty_pwd
RewriteRule ^inscription/noconfirmpwd$ index.php?page=usersignup&error=empty_confirm_pwd
RewriteRule ^inscription/wrongmail$ index.php?page=usersignup&error=invalid_mail
RewriteRule ^inscription/alreadyexist$ index.php?page=usersignup&error=uname_already_exist
RewriteRule ^inscription/mailalreadyexist$ index.php?page=usersignup&error=email_already_exist
RewriteRule ^contact/success$ index.php?page=contact&error=false
RewriteRule ^contact/emptyfields$ index.php?page=contact&error=emptyfields
RewriteRule ^contact/sqlerror$ index.php?page=contact&error=sqlerror
RewriteRule ^contact/invalidprenomnom$ index.php?page=contact&error=invalidprenomnom
RewriteRule ^contact/invalidmail$ index.php?page=contact&error=invalidmail
RewriteRule ^contact/notprepared$ index.php?page=contact&error=notprepared
RewriteRule ^panier$ index.php?page=panier
RewriteRule ^panier/empty_fields$ index.php?page=panier&error=empty_fields
RewriteRule ^panier/empty_firstname$ index.php?page=panier&error=empty_firstname
RewriteRule ^panier/empty_lastname$ index.php?page=panier&error=empty_lastname
RewriteRule ^panier/empty_tel$ index.php?page=panier&error=empty_tel
RewriteRule ^panier/empty_add$ index.php?page=panier&error=empty_add
RewriteRule ^panier/empty_ship_add$ index.php?page=panier&error=empty_ship_add
RewriteRule ^panier/empty_depart_ville$ index.php?page=panier&error=empty_depart_ville
RewriteRule ^panier/empty_city$ index.php?page=panier&error=empty_city
RewriteRule ^panier/empty_cart$ index.php?page=panier&error=empty_cart
RewriteRule ^panier/success$ index.php?page=panier&error=none
