$primary: #ddd;
$dark: #333;
$new: #428bca;/*#007bff*/;
$light: #fff;
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
$success: rgba(40, 167, 69, 0.25);
$error: rgba(220, 53, 69, 0.9);
$i: 1;
$black: black;
$input-padding-x: .75rem;
$input-padding-y: .75rem;
$mainTransition: all 0.3s linear;
$mainSpacing: 0.1rem;
/* MDB colors*/
$default-color: #1976d2  !default;
