/*#007bff*/
/* MDB colors*/
/****************/
/* Header */
/***************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

button a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

button a:hover {
  color: #fff;
  text-decoration: none;
}

header {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1rem;
  background-color: #fff;
}

header section.one {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -ms-grid-columns: 4fr;
      grid-template-columns: 4fr;
}

header section.one div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header section.one div.logo div {
  margin-left: 4px;
}

header section.one div#menu {
  display: none;
}

header section img {
  width: 15%;
}

header section h3 {
  margin-bottom: 0;
  color: #2c94ff;
}

header section p {
  margin-top: 0;
  font-size: small;
  font-weight: 400;
}

header section div[class="contact-info"] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
}

header section div p {
  font-size: 0.9rem;
  font-weight: normal;
}

.btn-sm {
  float: right;
  padding: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-sm span:first-of-type {
  margin-top: 0;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  margin-top: 4px;
}

/****************/
/* Menu */
/***************/
/*Menu de Navigation start*/
.main-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-nav ul {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  padding: 0;
  list-style: none;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.main-nav ul li {
  width: 100%;
}

.main-nav a {
  background: #fff;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.main-nav a.current {
  border-bottom: 5px solid #428bca;
}

.main-nav a:hover {
  background: #428bca;
  color: #fff;
}

/*Navigation Menu end*/
/****************/
/* Acceuil */
/***************/
/* Top container */
.top-container {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
      grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b';
  /*margin-top: 10px;*/
}

.fa-star {
  color: #f0c900;
  padding: 3% 0;
}

/* showcase */
.showcase {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: showcase;
  min-height: 190px;
  /*background-size: cover;
    background: url(../img/showcasef.jpg) no-repeat center;
    background-color: grayscale($color: #ccc);
    padding: 4rem;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.showcase h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #fff;
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: #fff;
}

/* TOp Box */
.top-box {
  background: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2rem;
}

.top-box-a {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: top-box-a;
}

.top-box-b {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 20px;
  margin-bottom: 20px;
}

.boxes .box {
  background: #fff;
  text-align: center;
  padding: 1.5rem 2rem;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.boxes .box:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  z-index: 10000;
  border: 1px solid #1976d2;
}

.boxes .box:hover h3 {
  color: #1976d2;
}

.boxes .box:hover:nth-child(1) {
  color: #1976d2;
}

.boxes .box:hover:nth-child(1) p {
  color: black;
}

.boxes .box:hover:nth-child(2) {
  color: #1976d2;
}

.boxes .box:hover:nth-child(2) p {
  color: black;
}

.boxes .box:hover:nth-child(3) {
  color: #1976d2;
}

.boxes .box:hover:nth-child(3) p {
  color: black;
}

.boxes .box:hover:nth-child(4) {
  color: #1976d2;
}

.boxes .box:hover:nth-child(4) p {
  color: black;
}

/* Info */
.info {
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  /* margin-top: 20px;*/
  margin-bottom: 20px;
}

/* Portfolio */
.portfolio {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.portfolio img {
  width: 100%;
  height: 190px;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/****************/
/* About */
/***************/
/*about style*/
.sub-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /*margin: 0;*/
  /*padding: 0 30px 30px 0;*/
  color: #005cbf;
}

.sub-nav li {
  list-style: none;
}

.sub-nav .title {
  margin-right: 50px;
  font-size: 1rem;
  font-weight: bolder;
  color: #545c64;
}

/****************/
/* Services */
/***************/
/*img.customImage {
    height: 150px;
    max-width: 0 !important;
    object-fit: cover;
    object-position: center center;
}

/*.mycart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 1000;
    /*background: rgb(214, 231, 248);*/
/*padding: 1.5rem;
    transition: $mainTransition;
    /*transform: translateX(100%);*/
/*&-overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        transition: $mainTransition;
        background: rgba(66, 139, 202, 0.5);
        z-index: 999;
        visibility: hidden;
    }
    h2 {
        text-transform: capitalize;
        text-align: center;
        letter-spacing: $mainSpacing;
        margin-bottom: 2rem;
    }
    &-item {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 1.5rem;
        margin: 1.5rem 0;
        img {
            width: 75px;
            height: 75px;
        }
        h4 {
            font-size: 0.85rem;
            text-transform: capitalize;
            letter-spacing: $mainSpacing;
        }
        h5{
            margin: 0.5rem 0;
            letter-spacing: $mainSpacing;
        }
    }
    &-footer {
        margin-top: 2rem;
        letter-spacing: $mainSpacing;
        text-align: center;
        h3 {
            text-transform: capitalize;
            margin-bottom: 1rem;
        }
    }
}
.close-mycart {
    font-size: 1.7rem;
    cursor: pointer;
}
.item-amount {
    text-align: center;
}
.remove-item {
    color: grey;
    cursor: pointer;
}
.fa-chevron {
    &-up, &-down {
        color: $new;
        cursor: pointer;
    }
}

/* cart styles start */
/*.cart {
    &-header {
        font-weight: bold;
        font-size: 1.25em;
        color: $dark;
    }
    &-column {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $black;
        margin-right: 1.5em;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    &-row {
        display: flex;
        &:last-child {
            border-bottom: 3px solid $dark;
            .cart-column {
                border: none;
            }
        }
    }
    &-item {
        width: 45%;
        &-title {
            color: $dark;
            margin-left: .5em;
            font-size: 1.2em;
        }
        &-image {
            width: 75px;
            height: auto;
            border-radius: 10px;
        }
    }
    &-price {
        width: 20%;
        font-size: 1.2em;
        color: $dark;
    }
    &-quantity {
        width: 55%;
        &-input {
            height: 34px;
            width: 50px;
            border-radius: 5px;
            border: 1px solid #56ccf2;
            background-color: #eee;
            color: $dark;
            padding: 0;
            text-align: center;
            font-size: 1.2em;
            margin-right: 25px;
        }
    }
    &-btn {
        text-align: center;
        vertical-align: middle;
        padding: .67em .67em;
        cursor: pointer;
        &-danger {
            color: $light;
            background-color: #EB5757;
            border: none;
            border-radius: .3em;
            font-weight: bold;
            &:hover {
                background-color: #cc4c4c;
            }
        }
    }
    &-total {
        text-align: end;
        margin-top: 10px;
        margin-right: 10px;
        &-title {
            font-weight: bold;
            font-size: 1.5em;
            color: $black;
            margin-right: 20px;
        }
        &-price {
            color: #333;
            font-size: 1.1em;
        }
    }
    &-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 1.5em;
    }
}
.content-section {
    margin: 1em;
}
.section-header {
    font-weight: normal;
    color: $dark;
    text-align: center;
    font-size: 2.5em;
}
.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
/* cart-style-end */
/*@media screen and (min-width: 768px){
    .mycart {
        width: 30vw;
        min-width: 450px;
    }
}*/
/****************/
/* Contact */
/***************/
.form {
  border: 2px solid #80bdff;
  border-top: none;
  margin: 0  100px 100px;
  /*border-color: #b8daff;*/
}

.form-header {
  padding: 50px;
  margin: 0  100px;
  border: 2px solid #80bdff;
  /*border-bottom: none;*/
  background-color: #428bca;
}

.form-body {
  width: 80%;
}

.form-group > label > span {
  display: none;
  margin-top: 8px;
  margin-left: 10px;
}

.form-control:focus + .lds-dual-ring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#myForm {
  padding: 10px 50px 50px;
}

.col-form-label {
  width: 100%;
}

.lds-dual-ring {
  display: none;
  width: 80px;
  height: 80px;
  margin-top: 6px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-color: rgba(40, 167, 69, 0.25) transparent;
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border-color: rgba(220, 53, 69, 0.9) transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-color: rgba(220, 53, 69, 0.9) transparent;
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    border-color: rgba(40, 167, 69, 0.25) transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-color: rgba(40, 167, 69, 0.25) transparent;
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-color: rgba(40, 167, 69, 0.25) transparent;
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border-color: rgba(220, 53, 69, 0.9) transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-color: rgba(220, 53, 69, 0.9) transparent;
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    border-color: rgba(40, 167, 69, 0.25) transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-color: rgba(40, 167, 69, 0.25) transparent;
  }
}

.fa-asterisk {
  color: red;
  font-size: 7px;
}

.fa-check-circle {
  color: rgba(40, 167, 69, 0.25);
  display: none;
}

/****************/
/* Footer */
/***************/
/*footer style start*/
footer {
  margin-top: 2rem;
  background: #428bca;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer #scrollTop {
  z-index: 1000;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

a#backToTop {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  position: fixed;
  bottom: 20%;
  left: 80%;
  background: #428bca;
  z-index: 1900;
}

/*footer style end*/
/****************/
/* Media Queries */
/***************/
/* Media queries */
@media (max-width: 768px) {
  .top-container {
        grid-template-areas: 'showcase showcase' 'top-box-a top-box-b';
  }
  /*.showcase {
        padding: 0.8rem;*
        h1 {
            font-size: 2.5rem;
        }
    }*/
  .top-box {
    padding: 1rem;
  }
  .main-nav ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main-nav ul li {
    max-width: 100%;
  }
  .info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  /*about*/
  .main-cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .sub-nav {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  /* Contact */
  .form {
    margin: 0;
  }
  .form-header {
    margin: 0;
  }
}

@media (max-width: 600px) {
  header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  header section.one {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  header section.one div#menu {
    display: block;
  }
  .top-container {
        grid-template-areas: 'showcase' 'top-box-a' 'top-box-b';
  }
  .sub-nav {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 465px) {
  body {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 368px) {
  .form-body {
    width: 100%;
  }
}

/*-------------------*/
/*# sourceMappingURL=main.css.map */