RewriteEngine on
RewriteRule ^dashboard$ index.php?page=dashboard
RewriteRule ^profile$ index.php?page=profile
RewriteRule ^posts/add$ index.php?page=article&sub_page=add
RewriteRule ^posts/add/success$ index.php?page=product&sub_page=add&error=none
RewriteRule ^posts/add/empty_fields$ index.php?page=product&sub_page=addProduct&error=empty_fields
RewriteRule ^posts/add/no_image$ index.php?page=product&sub_page=add&error=no_image
RewriteRule ^posts/add/empty_libelle$ index.php?page=product&sub_page=add&error=empty_libelle
RewriteRule ^posts/add/empty_category$ index.php?page=product&sub_page=add&error=empty_category
RewriteRule ^posts/add/empty_auteur$ index.php?page=product&sub_page=add&error=empty_auteur
RewriteRule ^posts/add/invalid_extension$ index.php?page=product&sub_page=add&error=invalid_extension
RewriteRule ^posts/add/big_file$ index.php?page=product&sub_page=add&error=big_file
RewriteRule ^posts/add/partial_upload$ index.php?page=product&sub_page=add&error=partial_upload
RewriteRule ^posts/add/no_file_uploaded$ index.php?page=product&sub_page=add&error=no_file_uploaded
RewriteRule ^posts/add/no_temp_folder$ index.php?page=product&sub_page=add&error=no_temp_folder
RewriteRule ^posts/add/cant_write$ index.php?page=product&sub_page=add&error=cant_write
RewriteRule ^posts/add/insert_error$ index.php?page=product&sub_page=add&error=insert_error
RewriteRule ^posts/add/upload_fail$ index.php?page=product&sub_page=add&error=upload_fail
RewriteRule ^posts/view$ index.php?page=article&sub_page=view
RewriteRule ^posts/edit$ index.php?page=article&sub_page=edit
RewriteRule ^posts/delete$ index.php?page=article&sub_page=delete
RewriteRule ^product/add$ index.php?page=product&sub_page=addProduct
RewriteRule ^product/add/success$ index.php?page=product&sub_page=addProduct&error=none
RewriteRule ^product/add/empty_fields$ index.php?page=product&sub_page=addProduct&error=empty_fields
RewriteRule ^product/add/no_image$ index.php?page=product&sub_page=addProduct&error=no_image
RewriteRule ^product/add/empty_libelle$ index.php?page=product&sub_page=addProduct&error=empty_libelle
RewriteRule ^product/add/empty_category$ index.php?page=product&sub_page=addProduct&error=empty_category
RewriteRule ^product/add/empty_pu$ index.php?page=product&sub_page=addProduct&error=empty_pu
RewriteRule ^product/add/empty_qteStock$ index.php?page=product&sub_page=addProduct&error=empty_qteStock
RewriteRule ^product/add/empty_qteSeuil$ index.php?page=product&sub_page=addProduct&error=empty_qteSeuil
RewriteRule ^product/add/empty_codeProd$ index.php?page=product&sub_page=addProduct&error=empty_codeProd
RewriteRule ^product/add/empty_fnr$ index.php?page=product&sub_page=addProduct&error=empty_fnr
RewriteRule ^product/add/empty_desc$ index.php?page=product&sub_page=addProduct&error=empty_desc
RewriteRule ^product/add/invalid_extension$ index.php?page=product&sub_page=addProduct&error=invalid_extension
RewriteRule ^product/add/big_file$ index.php?page=product&sub_page=addProduct&error=big_file
RewriteRule ^product/add/partial_upload$ index.php?page=product&sub_page=addProduct&error=partial_upload
RewriteRule ^product/add/no_file_uploaded$ index.php?page=product&sub_page=addProduct&error=no_file_uploaded
RewriteRule ^product/add/no_temp_folder$ index.php?page=product&sub_page=addProduct&error=no_temp_folder
RewriteRule ^product/add/cant_write$ index.php?page=product&sub_page=addProduct&error=cant_write
RewriteRule ^product/add/insert_error$ index.php?page=product&sub_page=addProduct&error=insert_error
RewriteRule ^product/add/upload_fail$ index.php?page=product&sub_page=addProduct&error=upload_fail
RewriteRule ^product/view$ index.php?page=product&sub_page=viewProduct
RewriteRule ^product/edit$ index.php?page=product&sub_page=editProduct
RewriteRule ^product/delete$ index.php?page=product&sub_page=deleteProduct
RewriteRule ^profile/success$ index.php?page=profile&error=none
RewriteRule ^profile/unknown_pwd$ index.php?page=profile&error=unknown_pwd
RewriteRule ^profile/empty_fields$ index.php?page=profile&error=empty_fields
RewriteRule ^profile/empty_firstname$ index.php?page=profile&error=empty_firstname
RewriteRule ^profile/empty_lastname$ index.php?page=profile&error=empty_lastname
RewriteRule ^profile/empty_uname$ index.php?page=profile&error=empty_uname
RewriteRule ^profile/empty_email$ index.php?page=profile&error=empty_email
RewriteRule ^profile/empty_pwd$ index.php?page=profile&error=empty_pwd
RewriteRule ^profile/empty_new_pwd$ index.php?page=profile&error=empty_new_pwd
RewriteRule ^profile/empty_confirm_pwd$ index.php?page=profile&error=empty_confirm_pwd
RewriteRule ^profile/invalid_mail$ index.php?page=profile&error=invalid_mail
RewriteRule ^profile/no_match$ index.php?page=profile&error=no_match
RewriteRule ^profile/login$ index.php?page=login
RewriteRule ^login$ index.php?page=login
RewriteRule ^login/empty_fields$ index.php?page=login&error=empty_fields
RewriteRule ^login/empty_username$ index.php?page=login&error=empty_username
RewriteRule ^login/empty_email$ index.php?page=login&error=empty_email
RewriteRule ^login/empty_pwd$ index.php?page=login&error=empty_pwd
RewriteRule ^login/invalid_mail_format$ index.php?page=login&error=invalid_mail_format
RewriteRule ^login/pwd_invalid$ index.php?page=login&error=pwd_invalid
RewriteRule ^login/email_invalid$ index.php?page=login&error=email_invalid
RewriteRule ^login/uname_invalid$ index.php?page=login&error=uname_invalid
RewriteRule ^signup$ index.php?page=signup
RewriteRule ^signup/success$ index.php?page=signup&error=none
RewriteRule ^signup/empty_fields$ index.php?page=signup&error=empty_fields
RewriteRule ^signup/empty_firstname$ index.php?page=signup&error=empty_firstname
RewriteRule ^signup/empty_lastname$ index.php?page=signup&error=empty_lastname
RewriteRule ^signup/empty_username$ index.php?page=signup&error=empty_username
RewriteRule ^signup/empty_email$ index.php?page=signup&error=empty_email
RewriteRule ^signup/invalid_mail$ index.php?page=signup&error=invalid_mail
RewriteRule ^signup/empty_pwd$ index.php?page=signup&error=empty_pwd
RewriteRule ^signup/uname_already_exist$ index.php?page=signup&error=uname_already_exist
RewriteRule ^signup/email_already_exist$ index.php?page=signup&error=email_already_exist
RewriteRule ^signup/pwd_already_exist$ index.php?page=signup&error=pwd_already_exist